{% extends 'all_apps/base.html' %}
{% block title %} Смена пароля {% endblock %}
{% block header %} {% include 'pmdash/header_template.html' %} {% endblock %}
{% block sidebar %} {% include 'pmdash/sidebar_template.html' %} {% endblock %}

{% load bootstrap5 %}
{% load crispy_forms_tags %}


{% block main %}


<!--Login-->
 <div class="container py-5">
        <h1>Смена пароля</h1> <br> <br>

        <form method="POST">
		{% csrf_token %}
		{{ password_form|crispy }}
		<button class="btn btn-outline-secondary" type="submit">Сохранить изменения</button>
	    </form>


    </div>


{% endblock %}

{% block footer %} {% include 'pmdash/footer_template.html' %} {% endblock %}