{% extends 'all_apps/base.html' %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Добавление дашборда {% endblock title %}
{% block header %} {% include 'pmdash/header_template.html' %} {% endblock %}
{% block sidebar %} {% include 'pmdash/sidebar_template.html' %} {% endblock %}


{% block main %}
<head>
    <style>
        .form_style
        {
            width: 30%;
            margin:2% auto;
        }
    </style>
</head>
<body>
     <div>
         <div class="text-center">
             <h1>Добавление дашборда</h1>

             <form method="post" class="form_style" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {{ image_form|crispy }}
                <input type="submit" class="btn btn-outline-secondary" value="Сохранить">
            </form>
         </div>
    </div>
</body>


{% endblock %}

{% block footer %} {% include 'pmdash/footer_template.html' %} {% endblock %}
