<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <style>
            #footer
            {
                position: fixed;
                left: 2px;
                bottom: 0;
                width: 10%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="footer">
            <div>
<!--                <hr class="p-0 m-0">-->
                <hr id="hr-footer"/>
                <p> produced by A.Babiy 2023</p>
                <p> anton.babiy@south.rt.ru</p>
                <p> +7-991-077-59-15</p>
            </div>
        </div>
    </body>
</html>



