<!DOCTYPE html>
<html>
    <head>
        <style>
            #main_article
            {
                margin-top: 2em;
                margin-left: 15em;
            }

            #main_article h2
            {
                font-size: 2em;
                text-align: center;
            }

            #main_article ul
            {
                 font-size: 1.5em;
            }
        </style>
    </head>
    <body>
        <div id="main_article">
            <h2> Дашборды </h2>
            <ul>
                <li>Данное web-приложение позволяет просматривать данные в виде дашбордов</li>
<!--                <li>Что бы просмотреть дашборд с основными метриками перейдите во вкладку "Основной дашборд"</li>-->
                <li>Что бы просмотреть список доступных дашбордов перейдите на вкладку "Список дашбордов"</li>
                <li>Что бы авторизоваться в приложении и получить возможность добавлять дашборды - перейдите на вкладку
                    "Аккаунт"
                </li>
            </ul>
        </div>
        <div style="height: 100%;"></div>

    </body>
</html>
